:root {
    --primary-theme-color: #9b0e2a;
    --primary-text-color: white;
    --primary-font-family: monospace;
  }
  
  .body {
    background-color: var(--primary-theme-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
    margin: 0;
  }
  
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .hero__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
  
  .hero__img {
    display: flex;
    border-radius: 50%;
    width: 256px;
    height: 256px;
    object-fit: cover;
  }
  
  .button {
    background-color: var(--primary-text-color);
    border: 0.0625rem solid var(--primary-text-color);
    border-radius: 0.5rem;
    color: var(--primary-theme-color);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--primary-font-family);
    padding: 0.25em 1em;
    cursor: pointer;
    transition: box-shadow 0.25s, filter 0.25s, top 0.25s, left 0.25s;
  }
  
  .button:hover {
    box-shadow: 0 0 0.25rem 0.0625rem var(--primary-text-color);
    filter: brightness(1.25);
  }
  
  .button--no {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }